A 			 {text-decoration:none; color:#FF00FF}
a:link       { color: #00FF00 }
a:visited    { color: #00FF00 }
body         { margin-left: 42; margin-right: 42; color:#FFFFFF; font-weight:bold; background-color:#660066 }